<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true" />
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44306" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <trust level="Full" />
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="remoteServer" connectionString="SERVER=198.12.238.249;PORT = 3306;DATABASE= health_app2; UID= jen; PASSWORD=Sarah2004Maple2015" />
  </connectionStrings>
</configuration>